// $main-color: #335065;
$main-color: #4278dd;
$main-color-hover: #056cba;
$input-focus: #05ba14;
$second-color: #3adca3;
$third-color: #fc7b19;
$white: #ffffff;
$black: #000000;
$red-color: #dc3a3a;
$green-color: #3adca3;
$yellow-color: #fdeb4a;
$light-grey: #c2c2c2;
$placeholder-color: #757575;
// Fonts
$font_family: 'Poppins',
    sans-serif;
$back-color: #eeeeee;
// Text
$dark_text: #27221c;
$test-color: #93dff5;
$blue-color: #2aafd4;
// styles
$border-radius: 15px;