$main-color: #00243f;
$second-color: #eda4e1;
$third-color: #fc7b19;
$white: #ffffff;
$black: #000000;
$red-color: #e73b3b;
$green-color: #00a023;
$yellow-color: #fdeb4a;
$light-grey: #c2c2c2;
// Fonts
$font_family: 'Poppins',
sans-serif;
$back-color: #eeeeee;
// Text
$dark_text: #27221c;
$test-color: #93dff5;
$blue-color: #2aafd4;
// styles
$border-radius: 15px;