// $main-color: #335065;
$main-color: #467bde;
$main-color-hover: #056cba;
$input-focus: #05ba14;
$second-color: #3adca3;
$third-color: #fc7b19;
$white: #ffffff;
$black: #000000;
$red-color: #f76969;
$green-color: #3adca3;
$yellow-color: #fdeb4a;
$star-yellow-color: #ffb300;
$light-grey: #c2c2c2;
$placeholder-color: #757575;
$main-gradient: linear-gradient(-30deg, $main-color 0%, $second-color 100%);

// Fonts
$font_family: 'Poppins', sans-serif;
$back-color: #eeeeee;
// Text
$dark_text: #042156;
$test-color: #93dff5;
$blue-color: #2aafd4;
// styles
$border-radius: 10px;
